{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">Create case</span>
        Add case details
      </h1>

      <p>
        <div class="govuk-hint">
          You must add the issue to create the case. You can complete the other fields now or later. Include information for each concern if the case has multiple concerns.
  
          The information in these fields will be used in risk review meetings with senior staff.          
        </div>
      </p>


      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Trust
          </dt>
          <dd class="govuk-summary-list__value">
            Edify multi-academy trust
          </dd>
        </div>
        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Case type
          </dt>
          <dd class="govuk-summary-list__value">
            Governance
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Concern risk level
          </dt>
          <dd class="govuk-summary-list__value">
            Red
          </dd>
        </div>

        
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Risk to trust
          </dt>
          <dd class="govuk-summary-list__value">
            Red
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Region
          </dt>
          <dd class="govuk-summary-list__value">
            South West
          </dd>
        </div>

      </dl>


      <form class="form" action="case-overview" method="post">
        
        
        <!-- <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Add case details
            <div id="risk-hint" class="govuk-hint">
              You must add the issue to create the case. You can complete the other fields now or later. 
              Include information for each concern if the case has multiple concerns.
              <br>
              The information in these fields will be used in risk review meetings with senior staff.  
            </div>
          </h2>

        </legend> -->
       


        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="3000">
          <div class="govuk-form-group">


            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="2000">
              <div class="govuk-form-group">
                <h2 class="govuk-label-wrapper">
                  <label class="govuk-label govuk-label--m" for="with-hint">
                    Issue
                  </label>
                </h2>
                
                <div id="with-hint-hint" class="govuk-hint">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Help with issue 
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      Briefly explain the main issue. Include: 
                      <ul>
                        <li>how the concern was identified </li>
                        <li>the risk rating and why you chose this, with reference to the risk management framework</li>
                      
                      </ul>

                       

      
                    </div>
                  </details> 
                </div>
<!--                 
                <div id="with-hint-hint" class="govuk-hint">
                  Explain why you are opening a concerns case. 
                </div> -->
                <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
              </div>
              <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                You can enter up to 2000 characters
              </div>
            </div>


            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="with-hint">
                Current status
              </label>
            </h1>
            <div id="with-hint-hint" class="govuk-hint">
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Help with current status 
                  </span>
                </summary>
                <div class="govuk-details__text">
                  Explain what is currently happening in the case and why this is significant. 
                  Only include relevant information that the minister or senior officials need to know, including: 

                  <ul>
                    <li>background information about the trust</li>
                    <li>case progress</li>
                    <li>what you're doing to manage the case</li>
                  </ul>
  
                </div>
              </details> 
            </div>
            <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
          </div>
          <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
            You have 2,000 characters remaining
          </div>
        </div>
        


        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1000">
          <div class="govuk-form-group">
            <h2 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="with-hint">
                Case aim
              </label>
            </h2>
            <div id="with-hint-hint" class="govuk-hint">
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Help with case aim 
                  </span>
                </summary>
                <div class="govuk-details__text">
                  Explain what you want to achieve with this case. This could be:
 
                  <ul>
                    <li>supporting the trust to do something</li>
                    <li>making sure the trust complies with certain requirements </li>
                    <li>seeking assurances that the trust will do something</li>
                  </ul>
  
                </div>
              </details> 
            </div>

            <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
          </div>
          <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 2000 characters
          </div>
        </div>


        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1500">
          <div class="govuk-form-group">
            <h2 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="with-hint">
                De-escalation point
              </label>
            </h2>
            
            
            <div id="with-hint-hint" class="govuk-hint">
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Help with de-escalation point 
                  </span>
                </summary>
                <div class="govuk-details__text">
                  Explain when you will reduce the risk level in this case and what level you’ll reduce it to.
  
                </div>
              </details>
            </div>
            <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
          </div>
          <!-- <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 2000 characters
          </div> -->
        </div>


        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="2500">
          <div class="govuk-form-group">
            <h2 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="with-hint">
                Next steps
              </label>
            </h2>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Help with next steps
                </span>
              </summary>
              <div class="govuk-details__text">
                Explain what you plan to do next to manage the case, including: 
                 
                <ul>
                  <li>dates for reviews, deadlines or meetings </li>
                  <li>anything you expect the trust to do and when you expect this to happen </li>
                  <li>case interventions, such as sending an SRMA or issuing warning letters</li>
                </ul>

              </div>
            </details>


            <!-- <div id="with-hint-hint" class="govuk-hint">
              Explain what you will do next to manage this case. Include any relevant actions and dates.  
            </div> -->
            <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
          </div>
          <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 2000 characters
          </div>
        </div>



        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="4000">
          <div class="govuk-form-group">
            <h2 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--m" for="with-hint">
                Case notes
              </label>
            </h2>
            <div id="with-hint-hint" class="govuk-hint">
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Help with case notes
                  </span>
                </summary>
                <div class="govuk-details__text">
                  You don’t have to complete this section but can use it to add context or additional information 
                  that is not captured elsewhere in the case. 
                <br><br>
                  This information will not be included in reports to the minister or senior officials.
                </div>
              </details>
     
            </div>
            <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
          </div>
          <!-- <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 2000 characters
          </div> -->
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
