{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

     


      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Case closed
        </h1>
        <div class="govuk-panel__body">
          Case ID 1234567<br><strong>Edify multi-academy trust</strong>
        </div>
<br>
        <p class="govuk-body">
          <a href="manage-cases" class="govuk-link govuk-link--inverse">Return to manage my cases</a>
        </p>
      </div>


      

      <h2 class="govuk-heading-m">
        Give feedback
      </h2>

      <p>
        We would like to know how you found using this tool to manage your cases and concerns
        <br>
        <a href="#">
          Give feedback on Record concerns and support for trusts (opens in a new tab)
        </a> 
      </p>

     


    </div>
  </div>

{% endblock %}
