{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <!-- {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %} -->

<hr>
     <p>
          Prototype for creating a regions group concerns case
          <br><a href="create-case-topic">Start here</a>
          
        </p>
  </div>
</div>

{% endblock %}
